.feature_part {
	border-top: 1px solid #eaeaea;
}

.feature_part .single_feature_post_text:hover .feature_btn {
	bottom: 50px;
	opacity: 1;
	visibility: visible;
}

.nav-item text {
	color: #000;
}

.feature_part {
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

.dddd {
	width: 250px;
	font-size: 12px;
	color: #000;
}

.main_menu #nav123 {
	color: rgb(0, 0, 0);
	position: relative;
	z-index: 1;
	font-size: 13px;
	margin-left: 31px;
}

.footer-add-info {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.footer-add-info li:after {
	content: '';
	display: block;
	width: 1px;
	height: 10px;
	background: #888;
	position: absolute;
	transform: translate(-6px, -14px);
}
